::root{
    --headline-color: #4BA87D;
    --back-color: #CAEAC7;
}

body {
    font-family: 'Raleway', sans-serif;
}

.date[type = "date"],
.time[type = "time"],
.radio[type = "radio"]{
    font-size: 20px;
    color: black;
}
.form-input[type ="text"]{
    font-size: 15px;
}
input::placeholder {
    color: red;
    font-size: 1.2em;
}
.form-wrapper{
    font-size: 16px;
    margin: 20px 0;
}
.time{
    display: flex;
    flex-direction: column;
}
.form-div-wrapper{
    border: 2px solid var(--headline-color);
    border-radius: 1px;
    padding: 40px 20px 20px 20px;
    margin: 10px 0;
}

.time p:nth-child(even){
    color: gray;
}
.checked + span{
    color: black;
    font-size: 15px;
}
.checked:checked + span{
    color: var(--headline-color);
    font-size: 15px;
}
.form-radio + span{
    color: black;
    font-size: 20px;
}
.form-radio:checked + span{
    color: var(--headline-color);
    font-size: 20px;
}
.pol{
    text-align: center;
}
.form-time-p{
    margin: 5px 0;
}
.nav{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 10rem;
    background-color: white;
}
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--back-color);
}
.form{
    width: 450px;
    padding: 32px;
    border-radius: 2px;
    background-color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.div-pol{
    position: relative;
    padding: 10px 0 20px 0;
    margin-bottom: 15px;
    border: none;
}
.form-input{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}
.form-button{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}
.form-div-button{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.form-title{
    text-align: center;
    margin: 0 0 32px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;

}
.form-group{
    position: relative;
    margin-bottom: 32px;
}
.form-label{
    position: absolute;
    top: -25px;
    color: var(--headline-color);
    transition: 0.3s;
    left: 0;
    text-align: center;
    width:100%;
    font-size: 18px;
}
.form-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    padding-bottom: 5px;
}
.form-input:focus{
    border-bottom: 1px solid #1a73a8;
}
.form-button{
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    color: #fff;
    background-color: var(--headline-color);
    outline: none;
    /* cursor: pointer; */
    transition: 0.3s;
}

.form-button:focus,
.form-button:hover{
    background-color: var(--back-color);
    color: black;
}

.form-grid {
    display: block;

}

.dop-text {
    font-size: 15px;
}

/* .form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
} */

@media screen and (min-width: 1000px){
    .wrapper {
        max-width: min(1090px, 90%);
        margin: 0 auto;
        padding-inline: 1em;
        margin-bottom: 5rem;
    }
    .nav{
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        margin-bottom: 0;
        max-width: 100%;
        width: 100%;
        height: 15rem;
        background-color: white;
    }
    .form-section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-bottom: 15rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: var(--back-color);
    }
    .form-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .form{
        width: 900px;
        padding: 32px;
        border-radius: 2px;
        background-color: white;
        font-family: sans-serif;
        letter-spacing: 1px;
    }
    .form-div-wrapper{
        border: 2px solid var(--headline-color);
        border-radius: 1px;
        padding: 40px 20px 20px 20px;
        margin: 10px 0;
        width: 90%;
        height: 90%;
    }
    .div-pol{
        position: relative;
        padding: 10px 0 20px 0;
        margin-bottom: 15px;
        border: none;
        height: 50px;
    }
    .conv-time-grid {
        grid-column: 1 / -1;
        width: 95%;
    }
    fieldset{
        border-style: none;
    }
}

.brak-logo {
    transform: scale(1.5) rotate(30deg) skewX(20deg) skewY(20deg);
}