:root {
    font-size: 10px;
    --headline-color: #4BA87D;
    --back-color: #CAEAC7;
}

p::selection {
    color: white;
    background-color: var(--headline-color);
}
h1::selection {
    color: white;
    background-color: var(--headline-color);
}
h2::selection {
    color: white;
    background-color: var(--headline-color);
}
h3::selection {
    color: white;
    background-color: var(--headline-color);
}
a::selection {
    color: white;
    background-color: var(--headline-color);
}
img::selection {
    color: white;
    background-color: var(--headline-color);
}

html {
    box-sizing: border-box;
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.def-text-link {
    display:block;
    text-decoration:none;
    color:black;
    transition: 0.3s;
}

.activ {
    transition: 0.3s;
}

.activ:hover {
    transform: scale(1.1) rotate(5deg);
    transition: 0.3s;
}

.activ:active {
    transform: scale(0.9);
    transition: 0.2s;
}



.logo-text {
    font-size: 2.2rem;
    font-weight: 900;
    color:black;
    text-decoration: none;
    display: inline;
    position: relative;
    top: 0.7rem;
}

.logo-img {
    width:4rem;
    position: relative;
    top: 0.8rem;
}

.members {
    color: white;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    margin-left: 2rem;
    margin-top: 0;
}

.mem-name {
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    margin-left: 2rem;
    margin-bottom: 0;
    
}

.mem-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.member-card {
    background-size:cover;
    background-repeat: no-repeat;
    width: 22rem;
    height: 15rem;
    margin-bottom: 2rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
}

.first-mem {
    background-image: url(../imgs/users/first.png);
}

.second-mem {
    background-image: url(../imgs/users/second.jpg);
}

.third-mem {
    background-image: url(../imgs/users/third.jpg);
}

.links {
    font-size: 1.2rem;
    font-weight: 700;
    color:black;
    list-style-type: none;
    line-height: 1.9rem;
    padding-left: 0;
    margin-right: 5rem;
}

.terms-text {
    font-size: 0.9rem;
    font-weight: 700;
}

.sec2 {
    background-image: url("../imgs/bgs/street.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    max-height: 55rem;
    padding-top:4rem;
    padding-bottom: 4rem;
}

.zag {
    color: black;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
}

.z-0 {
    color: white;
    font-size: 4.2rem;
    text-align: center;
    line-height: 4.8rem;
}


.z-2 {
    font-size: 2.8rem;
    line-height: 3.1rem;
    text-align: left;
}

.z-2-1 {
    font-size: 2.8rem;
    line-height: 3.1rem;
    text-align: center;
}


.simple-headline-color-text {
    color: var(--headline-color);
    font-weight: 800;
}

.confirmation-text-y {
    color: var(--headline-color);
    font-weight: 500;
}

.custom-link-btn {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: var(--headline-color);
    border-width: 0.3rem;
    border-style:solid;
    text-align: center;
}

.green-btn {
    color: white;
    background-color: var(--headline-color);
}

.white-btn {
    color: var(--headline-color);
    background-color: white;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.card-text {
    display:block;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}
.card-img{
    width: 100%;
}

.comp-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.comp-img {
    max-width: 10rem;
    margin-top: 2rem;
}

.pre-foot {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: var(--headline-color);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.pick-btn {
    color: var(--headline-color);
    text-align: center;
    font-family: Raleway;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 900;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    width: 131px;
}

.final-list {
    display: flex;
    justify-content: flex-start;
}

.flex {
    display: flex;
    margin-top: 2rem;
    justify-content: flex-end;
    gap: 1.5%;
}

:focus {
    border-style: solid;
    border-width: 1px;
    border-color: var(--back-color);
    transform: none;
    transition: 0s;
}

.cart-bg {
        background-color: var(--back-color);
}


.div-loader{
    position: relative;
}

@keyframes poyavilsya{
    85%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes ischez{
    80%{opacity: 1;}
    90%{opacity: 0;}
}

#imposter{
    opacity: 0;
    animation: poyavilsya 8s forwards;
}

.loader {
    width: 10%;
    height: 10%;
    border:10px solid #FFF;
    border-radius: 50%;
    position: absolute;
    transform:rotate(45deg);
    box-sizing: border-box;
    top: 45%;
    left: 45%;
    animation: ischez 8s forwards;
}
/*
.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}
*/
.loader::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset:-10px;
    border-radius: 50%;
    color: var(--back-color);
    animation: mulShdSpin 1.5s infinite linear;
}

@keyframes mulShdSpin {
    0%,
    100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
    }
    12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
    }
    25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
    }
    37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
    -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
    -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
    -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px){
    .logo-just {
        position:absolute;
        top: 2rem;
        left: calc((100% - min(90%, 310px)) / 2);
    }

    .punkts {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .sign-up-btn {
        width: 40%;
    }
    
    .pre-mem-wrap {
        max-width: 22rem;
        margin: 0 auto;
        margin-bottom: 0;
    }

    .post-mem-wrap {
        max-width: min(25rem, 70%);
        margin: 0 auto;
        padding-inline: 1em;
        margin-bottom: 3rem;
    }

    .cartochki {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 5rem;
    }

    .left-card {
        max-width: min(60%, 260px);
        align-self: flex-start;
        background-color: white;
        margin-top: 3rem;
        padding-bottom: 2rem;
    }

    .right-card {
        max-width: min(60%, 260px);
        align-self: flex-end;
        background-color: white;
        margin-top: 1rem;
        padding-bottom: 2rem;
    }
    .z-1 {
        font-size: 3.5rem;
        line-height: 4.6rem;
        margin-top: 0;
        margin-bottom: 11rem;
    }

    .front-grid {
        display: grid;
        margin: 0 auto;
        grid-template-rows: [ts] 5rem [is] 19rem [ie] 9rem [te];
        grid-template-columns: 1fr;
    }

    .sec1-text {
        grid-area: ts/te;
        align-self:te;
    }

    .sec1-img {
        width: 100%;
        grid-area: is/ie;
        align-self: center;
    }

    .cent-btns {
    display: flex;
    justify-content: space-evenly;
    }
    
    .sec1-btn {
        width: 130px;
    }

    .sec2 {
        background-image: url("../imgs/bgs/street.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 15rem;
        padding-top:4rem;
        padding-bottom: 4rem;
        max-width: min(310px, 90%);
        margin: 0 auto;
        padding-inline: 1em;
        margin-bottom: 3rem;
    }
    
    .z-3 {
        font-size: 2.2rem;
        line-height: 2.9rem;
        text-align: center;
        color:white;
    }
    
    .lern-btn {
        color: var(--headline-color);
        background-color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 0.6rem;
        font-style: normal;
        font-weight: 900;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display:inline-block;
        width: 20%;
    }

    .form-grid {
        display:grid;
        grid-template-rows: [start] 5rem [mid] 4rem [end];
        justify-items: center;
    }

    .inp-email {
        grid-row: start / mid;
    }

    .inp-forma {
        border-radius: 5px;
        border-color: darkgray;
        border-style: solid;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 22rem;
        height: 4rem;
        grid-row: start / mid;
    }
    
    .join-btn {
        color: white;
        background-color: var(--headline-color);
        font-size: 1.3rem;
        font-weight: 900;
        border: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 50%;
    }

    .lcolumn {
        display:grid;
        grid-template-rows: [fi] 7.5rem [se] 13.2rem [en];
    }

    .wrapper {
    max-width: min(310px, 90%);
    margin: 0 auto;
    padding-inline: 1em;
    margin-bottom: 3rem;
    }
    
}

@media screen and (min-width: 599px) and (max-width: 1299px){
    .logo-just {
        position:absolute;
        top: 2rem;
        left: calc((100% - min(90%, 740px)) / 2);
    }

    .punkts {
        display: block;
        text-decoration:none;
        color:black;
        font-size: 1.1rem;
        font-weight: 800;
        border-bottom: 5px solid var(--headline-color);
        justify-self: flex-end;
        margin-top: 1.5rem;
        padding-bottom: 0;
        height: 1.8rem;
    }

    .sign-up-btn {
        width: 11rem;
    }

    .pre-mem-wrap {
        max-width: max(22rem, 30%);
        align-self: flex-end;
        margin-bottom: 5rem;
    }

    .post-mem-wrap {
        max-width: min(60rem, 70%);
        margin: 0 auto;
        padding-inline: 1em;
        margin-bottom: 3rem;
    }

    .cartochki {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
        gap: 2em;
    }

    .left-card {
        max-width: min(25%, 209px);
        align-self: flex-start;
        background-color: white;
        margin-top: 3rem;
        padding-bottom: 2rem;
    }

    .right-card {
        max-width: min(25%, 209px);
        align-self: flex-end;
        background-color: white;
        margin-top: 10rem;
        margin-bottom: 5rem;
        padding-bottom: 2rem;
    }

    .front-grid {
        display: grid;
        margin: 0 auto;
        grid-template-columns: [ts] min(24rem, 40%) [is] 3rem [te] min(45rem, 60%) [ie];
        grid-template-rows: 315px;
        align-items: center;
    }

    .sec1-img {
        width: 100%;
        grid-column-start: is;
        grid-column-end: ie;
        grid-row: 1;
    }

    .z-1 {
        font-size: 3.6rem;
        line-height: 4.6rem;
        margin-top: 0;
        margin-bottom: 0rem;
    }

    .sec1-text {
        grid-column-start: ts;
        grid-column-end: te;
        grid-row: 1;
    }

    .cent-btns {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    }
    
    .sec1-btn {
        width: 100px;
    }

    .sec2 {
        background-image: url("../imgs/bgs/street.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 33rem;
        max-width: min(60rem, 80%);
        padding-top:12rem;
        padding-bottom: 4rem;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .z-3 {
        font-size: 3.8rem;
        line-height: 2.9rem;
        text-align: center;
        color:white;
    }

    .lern-btn {
        color: var(--headline-color);
        background-color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 900;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display:inline-block;
        width: 20%;
    }

    .form-grid {
        display:grid;
        grid-template-columns: [start] 2fr [mid] 1fr [end];
        justify-items: center;
        
        align-items: center;
    }

    .inp-forma {
        border-radius: 5px;
        border-color: darkgray;
        border-style: solid;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 90%;
        height: 4rem;
        grid-column: start / mid;
    }

    .join-btn {
        color: white;
        background-color: var(--headline-color);
        font-size: 1.3rem;
        font-weight: 900;
        border: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 90%;
    }

    .lcolumn {
        display:grid;
        grid-template-columns: 14rem 14rem;
        grid-template-rows: min-content;
    }

    .wrapper {
        max-width: min(740px, 90%);
        margin: 0 auto;
        padding-inline: 1em;
        margin-bottom: 3rem;
    }
    
}

@media screen and (min-width: 1300px){
    body {
        font-size: 1.9rem;
    }

    .logo-just {
        position:absolute;
        top: 2rem;
        left: calc((100% - min(90%, 1090px)) / 2);
    }

    .logo-text {
        font-size: 3.5rem;
        font-weight: 900;
        color:black;
        text-decoration: none;
        display: inline;
        position: relative;
        top: 0rem;
        left: 1rem
    }
    
    .logo-img {
        width:7rem;
        position: relative;
        top: 0.8rem;
    }
    

    .punkts {
        display: block;
        text-decoration:none;
        color:black;
        font-size: 1.7rem;
        font-weight: 800;
        border-bottom: 5px solid var(--headline-color);
        justify-self: flex-end;
        margin-top: 1.5rem;
        padding-bottom: 0;
        height: 2.5rem;
    }

    .flex {
        display: flex;
        margin-top: 2rem;
        justify-content: flex-end;
        gap: 3%;
    }

    .sign-up-btn {
        display: block;
        width: 17rem;
        height: 4rem;
    }
    
    .custom-link-btn {
        font-size: 1.7rem;
        font-weight: 800;
        line-height: 1.3rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-color: var(--headline-color);
        border-width: 0.3rem;
        border-style:solid;
        text-align: center;
    }

    .pre-mem-wrap {
        max-width: max(22rem, 30%);
        align-self: flex-end;
        margin-bottom: 5rem;
    }

    .post-mem-wrap {
        max-width: min(90rem, 70%);
        margin: 0 auto;
        padding-inline: 1em;
        margin-bottom: 14rem;
    }

    .cartochki {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5rem;
        gap: 1em;
    }

    .left-card {
        max-width: min(25%, 320px);
        align-self: flex-start;
        background-color: white;
        margin-top: 3rem;
        padding-bottom: 2rem;
    }

    .right-card {
        max-width: min(25%, 320px);
        align-self: flex-end;
        background-color: white;
        margin-top: 10rem;
        margin-bottom: 5rem;
        padding-bottom: 2rem;
    }

    .front-grid {
        display: grid;
        grid-template-columns: [ts] min(49rem, 38%) [is] min(10rem, 10%) [te] min(72rem, 52%) [ie];
        grid-template-rows: 315px;
        align-items: center;
    }

    .sec1-img {
        width: 100%;
        grid-column-start: is;
        grid-column-end: ie;
        grid-row: 1;
    }

    .z-1 {
        font-size: 5.9rem;
        line-height: 7.1rem;
        margin-top: 0;
    }

    .sec1-text {
        grid-column-start: ts;
        grid-column-end: te;
        grid-row: 1;
    }

    .cent-btns {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    }
    
    .sec1-btn {
        padding-top: 2.3rem;
        width: 200px;
        height: 65px;
        font-size: 2.1rem;
    }

    .sec2 {
        background-image: url("../imgs/bgs/street.webp");
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 50rem;
        max-width: min(95rem, 80%);
        padding-top:12rem;
        padding-bottom: 4rem;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .z-3 {
        font-size: 6rem;
        line-height: 8rem;
        text-align: center;
        color:white;
    }

    .lern-btn {
        color: var(--headline-color);
        background-color: white;
        text-align: center;
        font-family: Raleway;
        font-size: 2.1rem;
        font-style: normal;
        font-weight: 900;
        padding-top: 2rem;
        padding-bottom: 1rem;
        display:inline-block;
        width: 20%;
        height: 65px;
    }

    .members {
        color: white;
        font-family: Raleway;
        font-size: 1.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        margin-left: 2rem;
        margin-top: 0;
    }
    
    .mem-name {
        color: white;
        font-family: Raleway;
        font-size: 3.4rem;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        margin-left: 2rem;
        margin-bottom: 0;
        
    }
    
    .mem-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: min(1090px, 90%);
        margin: 0 auto;
    }
    
    .member-card {
        background-size:cover;
        background-repeat: no-repeat;
        width: 34rem;
        height: 24rem;
        margin-bottom: 2rem;
        padding-top: 13rem;
        padding-bottom: 1rem;
    }

    .form-grid {
        display:grid;
        grid-template-columns: [start] 2fr [mid] 1fr [end];
        justify-items: center;
        
        align-items: center;
    }

    .inp-forma {
        border-radius: 5px;
        border-color: darkgray;
        border-style: solid;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        width: 80%;
        height: 6rem;
        grid-column: start / mid;
    }

    .join-btn {
        color: white;
        background-color: var(--headline-color);
        font-size: 2.1rem;
        font-weight: 900;
        border: none;
        padding-top: 1rem;
        width: 80%;
        height: 6rem;
    }

    .z-2 {
        font-size: 4.4rem;
        line-height: 4rem;
        text-align: left;
    }
    
    .z-2-1 {
        font-size: 4.4rem;
        line-height: 4rem;
        text-align: center;
    }

    .pre-foot {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 10rem;
        background-color: var(--headline-color);
        margin-top: 10rem;
        margin-bottom: 5rem;
    }

    .z-0 {
        color: white;
        font-size: 6rem;
        text-align: center;
        line-height: 4.8rem;
    }

    .pick-btn {
        color: var(--headline-color);
        text-align: center;
        font-family: Raleway;
        font-size: 2.1rem;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 1.05px;
        background-color: white;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: inline-block;
        width: 200px;
    }

    .final-list {
        display: flex;
        justify-content: center;
    }

    .lcolumn {
        display:grid;
        grid-template-columns: 19rem 19rem;
        grid-template-rows: min-content;
    }

    .links {
        font-size: 1.9rem;
        font-weight: 700;
        color:black;
        list-style-type: none;
        line-height: 1.9rem;
        padding-left: 0;
        margin-right: 5rem;
    }

    .terms-text {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .wrapper {
        max-width: min(1090px, 90%);
        margin: 0 auto;
        padding-inline: 1em;
        margin-bottom: 15rem;
    }
}


