:root {
    font-size: 62.5%;
    --headline-color: #4BA87D;
}

html {
    box-sizing: border-box;
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.def-text-link {
    text-decoration:none;
    color:black;
}

.logo-text {
    font-size: 2.2rem;
    font-weight: 900;
    color:black;
    text-decoration: none;
    display: inline;
    position: relative;
    margin-left: -4rem;
}

.logo-img {
    width: 8.4rem;
    height: 4.2rem;
    position: relative;
    top: 1.5rem;
    left: -2rem;
}

.members {
    color: white;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    margin-left: 2rem;
    margin-top: 0;
    padding-bottom: 1rem;
}

.mem-name {
    color: white;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    margin-left: 2rem;
    margin-bottom: 0;
}

.member-card {
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
}

.first-mem {
    background-image: url(../imgs/users/first.png);
}

.second-mem {
    background-image: url(../imgs/users/second.png);
}

.third-mem {
    background-image: url(../imgs/users/third.png);
}

.links {
    font-size: 1.2rem;
    font-weight: 700;
    color:black;
    list-style-type: none;
    margin-left: -3.5rem;
}

.terms-text {
    font-size: 0.9rem;
    font-weight: 700;
}

.sec1 {
    position: relative;
    /*top: -12.2rem;*/
}

.sec1-img {
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.5rem;
}

.sec1-btn {
    width: 40%;
}

.sec2 {
    background-image: url("../imgs/bgs/street.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height:17rem;
    text-align: center;
    max-height: 55rem;
}

.zag {
    color: black;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
}

.z-0 {
    color: white;
    font-size: 4.2rem;
    text-align: center;
    line-height: 4.8rem;
}

.z-1 {
    font-size: 3.6rem;
    line-height: 4.6rem;
    position: absolute;
    top: -8.5rem;
}

.z-2 {
    font-size: 2.8rem;
    line-height: 3.1rem;
    text-align: left;
}

.z-3 {
    font-size: 2.2rem;
    line-height: 2.9rem;
    text-align: center;
    color:white;
    padding-top:4rem;
}

.simple-headline-color-text {
    color: var(--headline-color);
    font-weight: 800;
}

.confirmation-text-y {
    color: var(--headline-color);
    font-weight: 500;

}



.custom-link-btn {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: var(--headline-color);
    border-width: 0.3rem;
    border-style:solid;
    text-align: center;
}

.green-btn {
    color: white;
    background-color: var(--headline-color);
}

.white-btn {
    color: var(--headline-color);
    background-color: white;
}

.sign-up-btn {
    margin-top: 2rem;
    width: 40%;
}

.lern-btn {
    color: var(--headline-color);
    background-color: white;
    text-align: center;
    font-family: Raleway;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 900;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display:inline-block;
    width: 20%;
}

.inp-forma {
    border-radius: 5px;
    border-color: darkgray;
    border-style: solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -1rem;
}

.join-btn {
    color: white;
    background-color: var(--headline-color);
    font-size: 1.3rem;
    font-weight: 900;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
}

.cent-btns {
    display: flex;
    justify-content: space-evenly;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.left-card {
    position: relative;
    left: 0;
    top: 2rem;
    max-width: 60%;
    background-color: white;
    
}

.right-card {
    position: relative;
    left: 40%;
    top: 3rem;
    max-width: 60%;
    background-color: white;
    margin-bottom: 4rem;
}

.card-img{
    width: 100%;
}

.pre-foot {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: var(--headline-color);
    
}

.pick-btn {
    color: var(--headline-color);
    text-align: center;
    font-family: Raleway;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 900;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    width: 40%;
    }

.final-list {
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    max-width: 300px;
    margin: 0 auto;
    padding-inline: 1em;
}

.flex {
    display: flex;
    justify-content: space-between;
}
